.Profile_photo {
    display: block;
    width: 225px;
    height: 225px;
    border-radius: 50%;
      }
.Profile_photo img{
        width:100%;
        height:100%;
        object-fit: cover;
      }
.name {
    font-style: oblique;
}
nav {
	margin: 27px auto 0;

	position: relative;
	width: 850px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav li {
  list-style: none;
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav a {
  color: #ffffff;
  line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
li:nth-child(1) {
	width: 100px;
}
li:nth-child(2) {
	width: 210px;
}
li:nth-child(3) {
	width: 200px;
}
li:nth-child(4) {
	width: 160px;
}
li:nth-child(5) {
	width: 120px;
}
nav .start-home, li:nth-child(1):hover~.animation {
	width: 100px;
	left: 50;
	background-color: #1abc9c;
}
nav .start-about, li:nth-child(2):hover~.animation {
	width: 190px;
	left: 150px;
	background-color: #e74c3c;
}
nav .start-blog, li:nth-child(3):hover~.animation {
	width: 200px;
	left: 350px;
	background-color: #3498db;
}
nav .start-portefolio, li:nth-child(4):hover~.animation {
	width: 160px;
	left: 550px;
	background-color: #9b59b6;
}
nav .start-contact, li:nth-child(5):hover~.animation {
	width: 120px;
	left: 710px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: Arial, Futura, sans-serif;
	background: #ffffff;
}

#prof_photo {
  float: left;
  display: block;
  width: 300px;
  margin-left: 120px;
  filter: drop-shadow(2px 2px 5px #1abc9c);
  }
  
#info_about {
  float: left;
  display: block;
  width: 300px;
  margin-right: auto;
}
.About_Me {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  
}
.Desired_position {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  clear: both;
}
.Work_experience {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  clear: both;
}.Education {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  clear: both;
}.Key_skills {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  clear: both;
}
footer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  clear: both;
}
h2 {
  margin-top: 5px;
}
pre {
  white-space: pre-line;
}
.Desired_position:hover {
  box-shadow: 0px 3px 5px 0px #e74c3c;
  padding: 5px;
  border-radius: 8px;
  
}
.Desired_position:hover h2 {
  color: #e74c3c;
}
.Work_experience:hover {
  box-shadow: 0px 3px 5px 0px #3498db;
  padding: 5px;
  border-radius: 8px;
  
}
.Work_experience:hover h2 {
  color: #3498db;
}
.Education:hover {
  box-shadow: 0px 3px 5px 0px #9b59b6;
  padding: 5px;
  border-radius: 8px;
  
}
.Education:hover h2 {
  color: #9b59b6;
}

.Key_skills:hover {
  box-shadow: 0px 3px 5px 0px #e67e22;
  padding: 5px;
  border-radius: 8px;
  
}
.Key_skills:hover h2 {
  color: #e67e22;
}
.cours_logo {
  float: left;
  display: block;
  width: 300px;
  margin-left: 50px;
  }
  
.footerinfo {
  float: left;
  display: block;
  width: 300px;
  margin-right: auto;
}